

.dashboard{
    display: flex;
    flex-direction: column;
}
.header-1{
    display: flex;
    height:78px;
    align-items: center;

}
.header div{
    display: flex;
    align-items: center;
}

.headerlogo{
 
   width:36px;  
   height:24px;
   margin-left: 20px;
 
}
.companylogo{
    width: 142px;
    height: 30px;
    margin-left: 20px;
   
}
.search{
    
    width: 15.59px;
    height: 15.59px;
    margin-left: 76.67px;
 
}
.searchinput{
border-style: none;
width: 49px;
}
.notification{
width: 21.52px;
height: 21.06px;
margin-left: 924.2px;
}
.profilepic{
 width: 44px;
 height: 44px;
 border-radius: 50%;
 margin-left: 52.28px;
}
.profilename{
    margin-left: 12px;
}
.arrow{
    width: 20px;
    height: 11px;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    width:300px;
    z-index: 100;

}
.sidelist1
{
    width:183px;
    height:43px;
    display:flex;
    align-items:center;
    list-style-type: none;
    background: #FFF3F4;
    border-radius: 5px;
    margin-top: 25px;
}
.sidelist{
    width: 225px;
    height:43px;
    display: flex;
    align-items:center;
    list-style-type: none;
    
}

.sideimg{
    width: 15px;
    height: 15px;
    align-items:center;
    padding-left: 17.5px;
}
.sidedash1{
    color: #C8242F;
    margin-left: 12.5px;
   align-items: center;
   padding-top: 15px;
  
}
.sidedash{
    color: #3E3E3E;
    margin-left: 12.5px;
    
    padding-top: 15px;

 
}
.sideright{
    background: #FAFAFA;
    
    padding-top: 40.75px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.dashboardtitle{
    font-size: 30px;
    text-align: left;
font: normal normal medium 30px/39px Roboto;
letter-spacing: 0px;
color: #000000;

padding-top: 40.75;
}
.content{
    display: flex;
}

.information{
    display: flex;
    
}
.cardz1{
    display: flex;
    width: 219.4px;
    height: 116px;
    background: #FFFFFF;
    margin-top: 22.25px;
    
   
    
}
.cardz{
    display: flex;
    width: 219.4px;
    height: 116px;
    background: #FFFFFF;
    margin-top: 22.25px;
    margin-left: 30px;
   
    
}
.cardinner{
    display: flex;
    flex-direction: column;
    margin-left: 19.33px;
   
   
    
}
.cardimagez{
    width: 34px;
    height: 34px;
    padding-top: 41.33px;
    padding-left: 38.03px;
}
.cardnumber{
    font-size: 25px;
  


color: #3E3E3E;
padding-top: 31px;




}
.cardtext{
    
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;

}

.graphcontainer{
    display: flex;
    margin-top: 30px;
}
.graph1{
    width: 802px;
    height: 430px;
    background: #FFFFFF;
    padding-left: 29px;
    padding-top: 23.52px;
}
.graph1top{
    padding-top: 0px;
}
.img1{
  width: 773px;
  height: 348px;
  margin-top: 28px;
}
.pieimg{
    width: 385px;
    height: 398px;
  }
  .graphtitle{
      font-size: 22px;
      color: #3E3E3E;
  }
  .link1{
      margin-left: 539px;
      color: #ADADAD;
      font-size: 12px;
  }
  .link2{
    margin-left: 20.8px;
    color: #ADADAD !important;
    font-size: 12px;}
    .link3{
       
            margin-left: 20.8px;
            color: #C8242F;
            font-size: 12px;
            text-decoration: underline;
    }
    .piecontainer{
        display: flex;
        flex-direction: column;
    background: #FFFFFF;
    margin-left: 30px;
    padding-left: 30px;
    }
    .piecontainer img{
        width: 200px;
        height: 200px;
        margin-left: 22px;
    }
    .pietitle{
        color: #3E3E3E;
        font-size: 22px;
        padding-top: 21.52px;
       
    }
    .reddot{
        background: #C8242F;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    .countryname{
        display: flex;
        align-items: center;
    }
    .countryname p{
    margin-left: 9px;
    }
    .contryname1{
        display: flex;
        height: 20px;
    }
    .contryname2{
        display: flex;
        height: 20px;
        margin-top: 18px;
    }
    .greendot{
        background:#A2B86C;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-left: 26px;
    }
    .saffrondot{
        background:#F16C20;
        width: 18px;
        height: 18px;
        border-radius: 50%;
       
    }
    .yellowdot{
        background:#EBC844;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-left: 146px;
    }
    .paid{
        color: #3CDD5F;
        background: #EBFFEF;
    }
    .failed{
        color: #FF4545;
        background: #FFF5F5;
    }
    .rightbottom{
        margin-top: 30px;
        background: #FFFFFF;
    }
    .tabletitle{
        color: #3E3E3E;
        font-size: 22px;
        padding-top: 22.52px;
        padding-left: 29px;
    }
    .tablecontainer{
        padding-left: 29px;
    }