.dashboard{
    display: flex;
    flex-direction: column;
}
.header-1{
    display: flex;
    height:78px;
    align-items: center;

}
.header div{
    display: flex;
    align-items: center;
}

.headerlogo{
 
   width:36px;  
   height:24px;
   margin-left: 20px;
 
}
.companylogo{
    width: 142px;
    height: 30px;
    margin-left: 20px;
   
}
.search{
    
    width: 15.59px;
    height: 15.59px;
    margin-left: 76.67px;
 
}
.searchinput{
border-style: none;
width: 49px;
}
.notification{
width: 21.52px;
height: 21.06px;
margin-left: 924.2px;
}
.profilepic{
 width: 44px;
 height: 44px;
 border-radius: 50%;
 margin-left: 52.28px;
}
.profilename{
    margin-left: 12px;
}
.arrow{
    width: 20px;
    height: 11px;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    width:300px;
    z-index: 100;

}
.sidelist1
{
    width:183px;
    height:43px;
    display:flex;
    align-items:center;
    list-style-type: none;
    background: #FFF3F4;
    border-radius: 5px;
    margin-top: 25px;
}
.sidelist{
    width: 225px;
    height:43px;
    display: flex;
    align-items:center;
    list-style-type: none;
    
}

.sideimg{
    width: 15px;
    height: 15px;
    align-items:center;
    padding-left: 17.5px;
}
.sidedash1{
    color: #C8242F;
    margin-left: 12.5px;
   align-items: center;
   padding-top: 15px;
  
}
.sidedash{
    color: #3E3E3E;
    margin-left: 12.5px;
    
    padding-top: 15px;

}
.content{
    display: flex;
}
.sideright{
    background: #FAFAFA;
    width: 100%;
   
}
.dashboardtitle{
    color: #000000;
    font-size: 30px;
    padding-left: 48px;
}
.dashboard{
    
}
.container{
    
    border-radius: 5px;

}
.form{

    background: #ffffff;
    padding-left: 30px;
    
}
.form-title{
    font-size: 22px;
    padding-top: 22.52px;
}
.input1{
    
    width: 100%;
    height: 30.5px;
}
#drop{
width: 100%;
height: 49px;
margin-top: 21px;
}
#text{
    width: 100%;
    height:130px;
    margin-top: 20px;
    border-radius: 5px;
}
#text :: placeholder{
color: #ADADAD;
}
.radio{
    margin-top: 36.15px;
}


/* abc */

#snackbar {
    margin-top: 20px;
}

#error-info {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

}

#error {
    width: 563px;
    height: 44px;
    border: 1px solid #FF3535;
    border-radius: 5px;
    padding: 7px 0 0 10px;

}

#error-img {
    width: 20px;
    height: 20px;
}

#info {
    width: 563px;
    height: 44px;
    border: 1px solid #00B9E1;
    border-radius: 5px;
    padding: 7px 0 0 10px;
    margin-left: 33px;
}

#info-img {
    width: 20px;
    height: 20px;
}


#warning-success{
    display: flex;
   
    margin-top: 25px;
}

#warning{
    width: 563px;
    height: 44px;
    border: 1px solid #FFA800;
    border-radius: 5px;
    padding: 7px 0 0 10px;

}

#warning-img{
    width: 20px;
    height: 20px;
}

#success{
    width: 563px;
    height: 44px;
    border: 1px solid #00AF27;
    border-radius: 5px;
    padding: 7px 0 0 10px;
    margin-left: 33px;
}

#success-img{
    width: 20px;
    height: 20px;
}
.first{
    background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
font-size: 18px;
color: #FFFFFF;
width: 124px;
height: 45px;
border-style: none;
}
.second{
    width: 145px;
height: 44px;
border: 1px solid #C8242F;
border-radius: 22px;
color: #C8242F;
background:#ffffff;
}
.h6{
    margin-top: 34.15px;
}
#tabs{
    display: flex;
}
.tab1{
    color:#C8242F
    
}
.tab2{
  
    margin-left:36px;
}
.tab3{
  
    margin-left:36px;
}
.red{
    width: 70px;
    height: 5px;
    background-color: #C8242F;
}
.line{
    display: flex;
    flex-direction: row;
}
.gray{
    width: 1100px;
    height: 2px;
    margin-top: 1px;
    background-color: #ADADAD;
}
.ptag{
    margin-top: 26.63px;
}